<h1>编辑分类</h1>

<%= simple_form_for [:admin, @category] do |f| %>
  <%= render partial:"form", locals:{f: f} %>
  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>


<script>
  $("#category_product_ids").select2( { theme: "bootstrap"} );
</script>
