<h1>新增商品</h1>

<div class="col-md-6 col-center">
  <%= simple_form_for [:admin, @product] do |f| %>
    <%= render partial: "form", locals: { :f => f } %>
    <%= f.submit "保存", data:{disable_with:"正在保存.."}, class:"btn btn-info btn-lg" %>
  <% end %>
</div>


<script>
  $("#product_category_ids").select2( { theme: "bootstrap"} );
</script>
