/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/earlyaccess/notosanssc.css');

/*==== Common ====*/
body {
  font-family: 'Noto Sans SC', sans-serif;
  color: #666;
  .col-center{
    float: none;
    margin: 0 auto;
  }
  a {
    color: #666;
  }
  a:hover {
    color: #7f8c8d;
    transition: 0.5s;
    text-decoration: none;
  }
}

/*==== box-welcome ====*/
.box-welcome {
  h2 {
    font-size: 24px;
    font-weight: 600;
  }
  .short-line {
    background-color: #0070DE;
    margin: 15px auto 30px auto;
    width: 150px;
    height: 1.5px;
  }
}

/*==== intro 轮播图 ====*/
.intro-box {
  .item {
    h3 {
      margin-top: -40%;
      font-size: 50px;
      letter-spacing: 5px;
    }
    p {
      font-size: 20px;
    }
    img {
      width: 100%;
    }
  }
  .carousel-control {
    i {
      margin-top: 140%; //按钮高度
      font-size: 50px; //按钮大小
    }
  }
}

/*==== story 品牌故事 ====*/
.story-box {
  background-color: #fff;
  text-align: center;
  padding: 50px 62.5px 50px 62.5px;//位置
  h3 {
    font-size: 20px;
    text-align: left;
  }
  p {
    color: #666;
    line-height: 24px;
    text-align: justify;
  }
  img {
    border-radius: 50%;
    width: 150px;
  }
  hr {
    background-color: #666;
    height: 1.5px;
  }
}

/*==== service 服务优势 ====*/
.service-box {
  background-color: #f8f8f8;
  text-align: center;
  padding: 50px 62.5px 50px 62.5px;
  .service-item {
    margin: 0 25px;
    img {
      width: 100px;
    }
    h3 {
      font-size: 18px;
    }
    p {
      color: #666;
      line-height: 24px;
      text-align: justify;
      margin-top: 25px;
    }
  }
}

/*==== category 商品分类 ====*/
.category-box {
  background-color: #fff;
  text-align: center;
  padding: 50px 62.5px 50px 62.5px;
  .category-item {
    img {
      width: 250px;
    }
    h3 {
      font-size: 18px;
      padding: 20px 0;
    }
    p {
      line-height: 24px;
      text-align: justify;
    }
  }
}

/*==== 推荐商品 ====*/
.recommend-box {
  background-color: #f8f8f8;
  text-align: center;
  padding: 50px 0;
  .recommend-item {
    .recommend-part1 {
      img {
        width: 100%;
      }
      box-shadow: 2px 2px 5px #888;
      margin-top: 15px;
    }
    .recommend-part1:hover {
      opacity: 0.6;
    }
    .p1 {
      font-size: 14px;
      margin-top: 30px;
    }
    .p2 {
      margin-bottom: 40px;
    }
  }
}

/*==== 用户反馈 ====*/
.feedback-box {
  background-color: #fff;
  text-align: center;
  padding: 50px 0 100px 0;
  .item {
    img {
      width: 80px;
      border-radius: 50%;
      margin: 0 auto 25px auto;
      border: 2px solid #ccc;
    }
    .p1 {
      max-width: 550px;
      margin: 0 auto 25px auto;
    }
    .p2 {
      margin-top: 25px;
    }
  }
  .carousel-indicators {
    margin-bottom: -70px;
    li {
      background-color: #666;
      height: 13px;
      width: 13px;
      margin: 0 5px;
      border-radius: 0;

      /* 按钮转向45度 */
      -moz-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    li.active {
      background-color: #0070DE;
    }
  }
}

/*==== 合作品牌 ====*/
.brand-box {
  background-color: #f8f8f8;
  text-align: center;
  padding: 50px 0;
  img {
    width: 150px;
    margin: 10px 15px;
  }
}

/*==== 立即购买 ====*/
.push-box {
  background-image: url("start");
  height: 200px;
  padding: 75px 0 0 0;
  text-align: center;
  .btn-push {
    color: #fff;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .btn-push:hover {
    background-color: #0070DE;
    border-color: #0070DE;
  }
}
